.hero {
  background-image: url("./images/World-Map.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1.hero-text {
  text-align: center;
  width: 47.25rem;
  height: 16.5625rem;
  flex-shrink: 0;
  margin: 0;
  font-size: 6rem;
  font-weight: 800;
  background-image: var(--Purple-Gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flightSearch {
  border-radius: 0.25rem;
  border: 2px solid var(--Grey-200, #cbd4e6);
  background: #fff;
  box-shadow: 0px 12px 24px 0px rgba(27, 59, 119, 0.05),
    0px 24px 60px 0px rgba(6, 47, 125, 0.05),
    0px 2px 4px 0px rgba(7, 4, 146, 0.1);
  display: flex;
  justify-content: center;
  height: 3rem;
}

.divider {
  width: 2px;
  height: 100%;
  background-color: var(--Grey-200, #cbd4e6);
  margin: 0 20px;
  box-sizing: border-box;
}

button.button-small {
  font-size: var(--Body-Large, 18px);
}
