.stay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.stay_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 2.5rem;
  padding: 0 1.5rem;
}

@media screen and (max-width: 425px) {
  .stay_card {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    gap: 1rem;
  }
}
